body{
	margin: 0;
	padding: 0;
	background-image: url("../images/background2.jpg");
}
header{
	font-family: 'Lobster', cursive;
	text-align: right;
	
	
}
h1{
	display:inline-block;
	font-size: 20px;
	color:#ffffff;
	font-family: 'Bungee', cursive;
	background-color: #00aaa6;
	padding:3px;
	margin:3px;
	border: 2px dashed #cefc19;

}
#title{
	font-size:80px;
	margin-right: 35%;
	color: #ffffff;
}
#sub{
	font-size:20px;
	margin-right: 25%;
	padding-top:10px;
	font-family: 'Bungee Inline', cursive;
	color:#ffffff;
}
#background{
	width:70%;
	margin:20px auto;
	background-color: transparent;
	font-family: 'Bungee Inline', cursive;

}
.name{
	font-size: 15px;
	padding:5px 5px;
	background-color:#f0386d;
	margin-bottom: 5px;
	color:#ffffff;
}
.hp{
	background-color: #6c8d6a;
	padding:5px 0;
	color:#ffffff;

}

#chooseFighter{
	width:100%;
	margin:0px auto;
}
.fighters{
	background-color:#ebf32f;
	width: 24.2%;
	display: inline-block;
	text-align: center;
	
}
img{
	width:150px;
	height:180px;
	margin:0 auto;

}

#background2{
	width:30%;
	float:left;
	margin-left:40px;
}

#yourFighterheading{
	float:left;
	
}

#adversaryHeading{
	
	float:right;
}
#yourFighter{
	clear:both;
	float:left;
}
#adversaryArea{
	
	float:right;
}
#background3{
	
	float:right;
	text-align: center;
	width:50%;
	margin-right: 5px;
	

}
#ring{
	clear: both;
	width:40%;

	margin-left:40px;

}
#fightButton{
	width:30%;
	font-size:20px;
	color:#ffffff;
	background-color:#324471;
	padding:5px;
	font-family: 'Bungee Inline', cursive;
	border: 5px dashed #d03d19;
	margin:0 auto;
}
#msg{
	width:100%;
	padding:10px;
	margin:20px auto;
	text-align: center;
	color:#921d75;
	font-size: 30px;
	background-color:#ffffff;
	border:5px dashed 
#e93247;
	font-family: 'Bungee', cursive;

}

.loosers{
	display:none;
}