body{
	margin: 0;
	padding: 0;
	background-image: url("../images/background2.jpg");
	font-family: 'Bungee', cursive;
	color:#ffffff;
}
header{
	font-family: 'Lobster', cursive;
	text-align: right;
	
	
}
#title{
	font-size:100px;
	margin-right: 35%;
	color: #ffffff;
}
#sub{
	font-size:20px;
	margin-right: 25%;
	padding-top:10px;
	font-family: 'Bungee Inline', cursive;
	color:#ffffff;
}
.loosers{
	display:none;
}

#container{
	background-color: #ffffff;
	width:50%;
	height: 50%;
	margin:10px auto;
	color: #00aaa6;
}
h1{
	display:inline-block;
	font-size: 20px;
	background-color:#b4c8f8;
	color:#e93247;
}
#chooseFighter{
	width:100%;
	margin:5px auto;
	
}
img{
	width:100px;
	height: 150px;
	margin: 0 auto;

}
.fighters{
	float:left;
	width:150px;
	height: 200px;
	text-align: center;
	margin-bottom:5%;

}
.name{
	width:100%;
}
#background1{
	clear: both;
	float:left;
	width:30%;
	
}
#background2{
	text-align: center;
	width:50%;
	float:right;

}
#chooseAdversary{
	width:300px;
}

#fightSecheading{
	clear:both;
}
#msg{
	text-align: center;
	clear: both;
	width:100%;
	color:#d03d19;
	
}
